@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightGrey: #eee;
  --medGrey: #353535;
  --darkGrey: #1c1c1c;
}

html {
  --brand-dim: var(--orange-4);

  --text1-dim: var(--gray-3);
  --text2-dim: var(--gray-4);

  --surface1-dim: var(--gray-8);
  --surface2-dim: var(--gray-7);
  --surface3-dim: var(--gray-6);
  --surface4-dim: var(--gray-5);

  --surface-shadow-dim: 200 10% 13%;
  --shadow-strength-dim: 20%;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: var(--surface1);
  color: var(--text1-dim);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}

// header

header {
  background-image: var(--gradient-23);
  box-shadow: var(--shadow-2);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  min-height: 70px;

  .icon {
    font-size: 2rem;

    color: var(--text1-dim);
  }

  .shop-name {
    font-size: var(--font-size-fluid-2);
  }

  // cart icon

  .cart-icon {
    display: block;
    position: relative;
  }
  // add to cart number

  .cart-items-number {
    background-color: black;
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    color: var(--text2-dim);
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    position: absolute;
    top: -1.75rem;
    right: 0;
    z-index: -1;
  }
}

main {
  // background-color: blue;

  padding: var(--size-fluid-3);
}

.product-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
// shadowss

.rad-shadow {
  border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
  box-shadow: 0 1rem 0.5rem -0.5rem;
  box-shadow: 0 2.8px 2.2px
      hsl(var(--surface-shadow-dim) / calc(var(--shadow-strength-dim) + 3%)),
    0 6.7px 5.3px
      hsl(var(--surface-shadow-dim) / calc(var(--shadow-strength-dim) + 1%)),
    0 12.5px 10px
      hsl(var(--surface-shadow-dim) / calc(var(--shadow-strength-dim) + 2%)),
    0 22.3px 17.9px
      hsl(var(--surface-shadow-dim) / calc(var(--shadow-strength-dim) + 2%)),
    0 41.8px 33.4px
      hsl(var(--surface-shadow-dim) / calc(var(--shadow-strength-dim) + 3%)),
    0 100px 80px hsl(var(--surface-shadow-dim) / var(--shadow-strength-dim));
}

// each single product

.product_item {
  min-height: 300px;
  border-radius: var(--radius-3);
  background-color: var(--surface-2);

  p {
    margin: 0 2rem;
    &:first-of-type {
      margin-top: 1rem;
    }
  }

  img {
    border-radius: inherit;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--surface3-dim);
  }
}

// product detail
.product_item_detail {
  display: flex;
  justify-content: space-evenly;

  background: var(--surface-3);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
}

.product_item_image {
  display: grid;
  place-items: center;
  max-width: 500px;

  img {
    width: 95%;
    height: 95%;
  }
}

// product detail

.counter_items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  text-align: center;

  button {
    width: 40%;
    border: none;
    outline: none;
    background-color: var(--surface1-dim);
    transition: all 269ms var(--ease-squish-1);

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  //  counter value
  .number {
    margin: 0 1rem;
    width: 20%;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.81);
  }
}

// add to cart
.addtocart-btn {
  width: 100%;
  background-color: var(--surface1-dim);
  color: var(--text2-dim);
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);
  padding: 1rem;
  border-radius: var(--radius-2);

  &:hover {
    cursor: pointer;
    color: var(--text2-dim);
    background-color: var(--surface4-dim);
  }
}
// cart items

.cart-wrapper {
  background-color: var(--surface2-dim);
  padding: 2rem 1rem;
  border-radius: var(--radius-2);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.89rem;

  .counter_items {
    button {
      width: 15px;
    }

    .number {
      background: none;
    }
  }
}

.added_item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;

  > * {
    flex: 1;
    padding: 0 0.3rem;
  }
}

#no_item {
  font-weight: bold;
  font-size: var(--font-size-fluid-2);
}
.added_item.header {
  background-color: gray;
  text-align: left;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

// footer area

footer {
  width: 100%;
  background-color: gray;
  display: grid;
  place-items: center;
  padding: 1rem;

  p {
    color: black;
  }
}

// login

/* header  */

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
}
.header .icon {
  font-size: clamp(2rem, 2rem + 2vw, 4.5rem);
}
/* hero login */

.container {
  background-color: var(--surface1-dim);
  width: 100%;
  min-height: 80vh;
  display: flex;

  button {
    border-radius: 0.5rem;
  }
}

.container > * {
  flex: 1;
}

.form-right {
  padding: 1rem;
  display: grid;
  place-items: center;
}

.banner-left img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.login {
  min-width: 350px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.67rem;
  width: 80%;
  max-height: 100%;
  margin-inline: auto;
  color: #000;
  a {
    color: blue;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  h2 {
    color: inherit;
  }
}

.login form {
  width: 100%;

  input {
    background: none;
    border: 1px solid black;
    cursor: default;
  }
}

/* input */
.inputField {
  width: 100%;
  margin: 1rem 0;
}
.inputField input,
.login-btn {
  width: 100%;
  padding: 1rem 0.4rem;
}

/* btn */
.login-btn {
  text-transform: uppercase;
  background-color: var(--surface3-dim);
}

/* forgot */
.login_forgot {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* or */

.or {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.or p {
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.line {
  width: 90%;
  padding-bottom: 0.12rem;

  background-color: rgba(0, 0, 0, 0.8);
}

/* sign in options */

.signIn_options {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.signIn_btn {
  background-color: rgba(0, 0, 0, 0.064);
  font-size: 0.875rem;
  flex: 1;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.signIn_btn img {
  width: 25px;
  height: 75%;
}

/* new to shop */

.signUp {
  text-align: center;
}

.signUp a {
  text-decoration: none;
}

// spinner
.spinner {
  border: 5px solid var(--lightGrey);
  border-top: 5px solid var(--medGrey);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 800ms linear infinite;

  margin: 20px auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
