*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}

// header

header {
  background-color: gray;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon {
    font-size: 2rem;
  }

  .cart-icon {
    color: red;
  }
}

main {
  // background-color: blue;
  padding: 2rem;
}

.product-wrapper {
  border: 2px solid red;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product_item {
  background-color: #3333;
  min-height: 300px;
}

// product detail
.product_item_detail {
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
}

.product_item_image {
  border: 1px solid red;
  display: grid;
  place-items: center;
  max-width: 500px;

  img {
    // border: 2px solid green;

    width: 95%;
    height: 95%;
    // transform: rotate(-10deg);
  }
}

// product detail

.counter_items {
  // border: 1px solid black;
  display: flex;
  align-items: center;

  button {
    width: 40px;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}

// cart items

.cart-wrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.added_item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;

  > * {
    flex: 1;
  }
}
.added_item.header {
  background-color: gray;
  text-align: left;
}

// footer area

footer {
  width: 100%;
  background-color: gray;
  display: grid;
  place-items: center;
  padding: 1rem;
}
