// notification

.notification {
  width: 100%;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

.success {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}
